.App {
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
}

nav li {
  margin-right: 20px;
}

button {
  margin-top: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}
